body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

.container {
    border: 2px solid black;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    color: black;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

form label {
    align-self: center;
}

form input[type="text"],
form input[type="number"],
form button {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form input[type="text"]:focus,
form input[type="number"]:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

form button {
    grid-column: span 2;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: grey;
}

#display,
#balance-result,
#transfer-dis,
#display-dep,
#display-with {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }

    form button {
        grid-column: span 1;
    }
}

/* #dis1 {
    display: block;
}

#dis2 {
    display: none;
}
#dis3 {
    display: none;
}
#dis4 {
    display: none;
}
#dis5 {
    display: none;
} */
